/* PCS color variables */
.timerange-selection.dashboard {
  display: flex;
  justify-content: flex-end;
  margin-top: 13px;
  margin-right: 10px; }
  .timerange-selection.dashboard .Select-control {
    margin-top: 10px; }
  .timerange-selection.dashboard .Select-value-label,
  .timerange-selection.dashboard .Select-arrow-zone {
    color: #fff; }
  .timerange-selection.dashboard .Select {
    width: 120px;
    font-size: 16px;
    color: #fff !important; }
  .timerange-selection.dashboard .Select-menu-outer {
    width: 140px;
    margin-left: -20px; }
  .timerange-selection.dashboard .last-refreshed-time {
    margin-right: 10px;
    color: #fff; }
  .timerange-selection.dashboard .last-refreshed-text {
    margin-left: 10px;
    margin-right: 6px;
    color: #afb9c3; }
  .timerange-selection.dashboard .time-icon {
    background: url("../../../assets/icons/Timerange.svg") no-repeat center;
    background-size: contain;
    margin-left: 35px !important; }
  .timerange-selection.dashboard .refresh-icon {
    background: url("../../../assets/icons/Refresh.svg") no-repeat center;
    background-size: contain;
    cursor: pointer; }
  .timerange-selection.dashboard .icon-sm {
    width: 14px;
    height: 14px;
    margin-left: 2px; }
