/* A helper file containing variables for the selawik font family names */
/* PCS color variables */
.timerange-selection {
  display: flex;
  justify-content: flex-end;
  margin-top: 13px;
  margin-right: 10px; }
  .timerange-selection .Select-value-label,
  .timerange-selection .Select-arrow-zone {
    color: #fff; }
  .timerange-selection .Select-control {
    margin-top: 10px; }
  .timerange-selection .Select {
    width: 120px;
    margin-top: -20px;
    margin-right: 19px;
    font-size: 16px;
    color: #fff !important; }
  .timerange-selection .Select-value {
    padding-left: 8px !important;
    padding-top: 2px !important; }
  .timerange-selection .Select-arrow-zone {
    padding-top: 5px !important; }
  .timerange-selection .Select-menu-outer {
    width: 120px;
    margin-left: 10px; }
  .timerange-selection .last-refreshed-time {
    margin-right: 10px;
    color: #fff; }
  .timerange-selection .last-refreshed-text {
    margin-left: 10px;
    margin-right: 6px;
    color: #afb9c3; }
  .timerange-selection .time-icon {
    background: url("../../../assets/icons/Timerange.svg") no-repeat center;
    background-size: contain;
    margin-left: 35px !important; }
  .timerange-selection .refresh-icon {
    background: url("../../../assets/icons/Refresh.svg") no-repeat center;
    background-size: contain;
    cursor: pointer; }
  .timerange-selection .icon-sm {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-top: 5px; }

.chevron-right {
  width: 12px;
  height: 12px;
  margin-left: 2px; }

.spinner-container {
  width: 100%;
  display: flex;
  align-items: center; }
