.setting-workflow-container .setting-section {
  padding-top: 24px;
  border-bottom: 1px solid #454a4e; }
  .setting-workflow-container .setting-section .section-header {
    color: #fff;
    font-size: 16px;
    padding-bottom: 16px; }
  .setting-workflow-container .setting-section .section-description {
    padding-bottom: 24px;
    font-size: 14px; }
    .setting-workflow-container .setting-section .section-description a {
      color: inherit;
      text-decoration: none; }
      .setting-workflow-container .setting-section .section-description a:hover {
        text-decoration: underline; }
  .setting-workflow-container .setting-section .section-input-group {
    padding-bottom: 48px; }
    .setting-workflow-container .setting-section .section-input-group label {
      padding-left: 10px;
      font-weight: normal;
      margin: 0; }

.setting-workflow-container .btn-container {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-top: 48px; }
